{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="uk-card-title uk-margin-remove-bottom">Mon profil</h2>
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="128" height="128" src="{{ asset(image)  }}" >
                </div>
                <div class="uk-width-expand">
                    <div class="uk-card-body uk-text-right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <p>Id : {{ participant.id }}</p>
                        {% endif %}
                        <p>Nom : {{ participant.nom }}</p>
                        <p>Prenom : {{ participant.prenom }}</p>
                        <p>eMail : {{ participant.mail }}</p>
                        <p>Telephone : {{ participant.telephone }}</p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <p>Administrateur : {{ participant.administrateur ? 'Yes' : 'No' }}</p>
                            <p>Actif : {{ participant.actif ? 'Yes' : 'No' }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_participant_index') }}" class="uk-button uk-button-text">back to list</a>
            {% endif %}
            <a href="{{ path('app_participant_edit', {'id': participant.id}) }}" class="uk-button uk-button-text">edit</a>

            {{ include('participant/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
