{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="uk-card-title">Mon profil</h1>
        <div class="uk-card-header">
            <div class="uk-child-width-1-2" uk-grid>
                <div class="">
                    <img class="pp" width="128" height="128" src="{{ asset(image) }}" >
                </div>
                <div class="uk-width-expand">
                    <div class="uk-card-body ">
                        <div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div uk-grid>
                                    <p>Id : </p>
                                    <p>{{ participant.id }}</p>
                                </div>
                            {% endif %}
                            <div uk-grid>
                                <p>Nom : </p>
                                <p>{{ participant.nom }}</p>
                            </div>
                            <div class="" uk-grid>
                                <p>Prenom : </p>
                                <p>{{ participant.prenom }}</p>
                            </div>
                            <div uk-grid>
                                <p>eMail : </p>
                                <p>{{ participant.mail }}</p>
                            </div>
                            <div uk-grid>
                                <p>Téléphone : </p>
                                <p>{{ participant.telephone }}</p>
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div uk-grid>
                                    <p>Administrateur : </p>
                                    <p>{{ participant.administrateur ? 'Yes' : 'No' }}</p>
                                </div>
                                <div uk-grid>
                                    <p>Actif : </p>
                                    <p>{{ participant.actif ? 'Yes' : 'No' }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-child-width-1-3" uk-grid>
            <div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_participant_index') }}"><button class="glass-button">Back to list</button></a>
                {% endif %}
            </div>

                <div>
                    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}"><button class="glass-button">Edit</button></a>
                </div>
                <div>
                    {{ include('participant/_delete_form.html.twig') }}
                </div>

        </div>
    </div>

{% endblock %}
