{{ form_start(form) }}
    {{ form_widget(form.nom) }}
    {{ form_widget(form.dateHeureDebut) }}
    {{ form_widget(form.duree) }}
    {{ form_widget(form.dateLimiteInscription) }}
    {{ form_widget(form.nbInscriptionsMax) }}
    {{ form_widget(form.infosSortie) }}
    {{ form_widget(form.urlImage) }}
<div class="uk-flex uk-f">
    {{ form_widget(form.campus) }}
    <a href=""><button type="button" class="plus-button"></button></a>
</div>
<div class="uk-flex uk-flex-center">
    {{ form_widget(form.lieu) }}
    <a href=""><button type="button" class="plus-button uk-margin"></button></a>
</div>
{{ form_widget(form.etat) }}
<button class="glass-button uk-margin">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
