{% extends 'base.html.twig' %}

{% block title %}Activities planned{% endblock %}
{% block stylesheet %}

{% endblock %}

{% block body %}
    {#    {{ include('sortie/_form2.html.twig', {'button_label': 'Update'}) }}#}
    <h1 class="uk-light uk-text-center">Activities planned</h1>

    <ul uk-accordion>
        <li>
            <a class="uk-accordion-title container" href="#">Recherche par filtre</a>
            <div class="uk-accordion-content">
                <div class="container">
                    {{ form_start(form2) }}
                    {{ form_widget(form2.campus) }}
                    {{ form_widget(form2.nom) }}
                    <div class="uk-flex uk-margin-auto uk-flex-around">
                        {{ form_widget(form2.date1) }}
                        {{ form_widget(form2.date2) }}
                    </div>
                    <div class="uk-flex uk-margin-auto uk-flex-around">
                        <div>{{ form_row(form2.organisateur) }}</div>
                        <div>{{ form_row(form2.inscrit) }}</div>
                        <div>{{ form_row(form2.non_inscrit) }}</div>
                        <div>{{ form_row(form2.passees) }}</div>
                    </div>
                    {{ form_widget(form2.rechercher) }}
                    {{ form_widget(form2.reset) }}
                    {{ form_end(form2) }}
                </div>
            </div>
        </li>
    </ul>
    <div class="container">
        {% if form2 is defined %}
        {{ form_start(form2) }}
        {{ form_widget(form2.campus) }}
        {{ form_widget(form2.nom) }}
        <div class="uk-flex uk-margin-auto uk-flex-around">
        {{ form_widget(form2.date1) }}
        {{ form_widget(form2.date2) }}
        </div>
        <div class="uk-flex uk-margin-auto uk-flex-around">
            <div>{{ form_row(form2.organisateur) }}</div>
            <div>{{ form_row(form2.inscrit) }}</div>
            <div>{{ form_row(form2.non_inscrit) }}</div>
            <div>{{ form_row(form2.passees) }}</div>
        </div>
        {{ form_widget(form2.rechercher) }}
        {{ form_widget(form2.reset) }}
        {{ form_end(form2) }}
        {% endif %}
    </div>

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid">
            {% for sortie in sorties %}
                <li>
                    <div class="uk-panel uk-flex-center uk-flex">
                        <div class="card " id="card">
                            <div class="card__inner ">
                                <div class="card__face card__face--front">
                                    <h2>{{ sortie.nom }}</h2>
                                </div>
                                <div class="card__face card__face--back">
                                    <div class="card__content">
                                        <div class="card__header">
                                            <img src="{{ asset(sortie.urlImage) }}" alt="" class="pp" />
                                            <h2>{{ sortie.nom }}</h2>
                                        </div>
                                        <div class="card__body">
                                            <h3>{{ sortie.infosSortie }}</h3>
                                            <p>Date : {{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y h:i') : '' }}</p>
                                            <p>Durée : {{ sortie.duree }} min</p>
                                            <p>Date limite d'inscription : {{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</p>
                                            <p>Nb inscription max : {{ sortie.nbInscriptionsMax }}</p>
                                            <p>Places restantes : {{ sortie.participantRestant}} </p>
                                            <a href="{{ path('app_sortie_show',{'id':sortie.id}) }}"><button class="glass-button uk-flex uk-flex-center">S'inscrire à l'évênement</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>

    <div class="uk-flex-center uk-flex uk-margin">
        <a href="{{ path('app_sortie_new') }}"><button class="glass-button">Créer une nouvelle sortie</button></a>
    </div>

    {% block script %}
        <script src="{{ asset('assets/js/card.js') }}"></script>
    {% endblock %}
{% endblock %}
