{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sortie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>DateHeureDebut</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ sortie.duree }}</td>
            </tr>
            <tr>
                <th>DateLimiteInscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NbInscriptionsMax</th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>InfosSortie</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
            <tr>
                <th>Participants</th>
                {% for parti in sortie.participantList %}
                <td>{{ parti.prenom }} {{ parti.nom }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sortie_index') }}">back to list</a>

    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a><br>

    <a href="{{ path('app_sortie_ajout', {'id': sortie.id}) }}">s'inscrire à la sortie</a>
    {% if app.user in sortie.participantList and not app.user == sortie.organisateur %}
        <br><a href="{{ path('app_sortie_suppr', {'id': sortie.id}) }}">se désinscrire de la sortie</a>
    {% endif %}

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}
