{% extends 'base.html.twig' %}

{% block title %}Détails de la sortie{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
          integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin=""/>
{% endblock %}

{% block body %}
    <style>
        #map { width: 400px;height: auto }
    </style>
    <div class="container">
        <div class="">
            <img src="{{ asset(sortie.urlImage) }}" alt="" class="pp" />
            <h1 class="uk-text-center">{{ sortie.nom }}</h1>
        </div>
        <div class="uk-flex uk-flex-around">
            <div class="container">
                <h3>{{ sortie.infosSortie }}</h3>
                <p>Rendez-vous le <time>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y h:i') : '' }}</time></p>
                <p>Durée : {{ sortie.duree }} min</p>
                <p>Places restantes : {{ sortie.participantRestant }}</p>
                <p>Date limite : {{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</p>
                <p>Participants : </p>
                <ul class="container" style="overflow: auto">
                    {% for participant in sortie.participantList %}
                        <li>{{ participant.prenom }} {{ participant.nom}} </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="uk-margin container" id="map"></div>



        </div>
        <div class="uk-flex uk-flex-center">
            {% if app.user not in sortie.participantList %}
            <a href="{{ path('app_sortie_ajout', {'id': sortie.id}) }}"><button class="glass-button">s'inscrire à la sortie</button></a>
            {% endif %}
            {% if app.user in sortie.participantList %}
                <a href="{{ path('app_sortie_suppr', {'id': sortie.id}) }}"><button class="glass-button">se désinscrire de la sortie</button></a>
            {% endif %}
            {% if app.user == sortie.organisateur%}
            <a href="{{ path('app_sortie_index') }}"><button class="glass-button">back to list</button></a>
            <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}"><button class="glass-button">edit</button></a>
            {% endif %}
            {{ include('sortie/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
    <script>
        function print () {
            let map = L.map('map').setView([{{ sortie.lieu.latitude }}, {{ sortie.lieu.longitude }}], 13);

            L.marker([{{ sortie.lieu.latitude }}, {{ sortie.lieu.longitude }}]).addTo(map)
                .bindPopup('Coucou c\'est ici')
                .openPopup();
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 20,
                attribution: '© ACL Group '
            }).addTo(map);
        }

        print()
    </script>
{% endblock %}
