{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
<div class="container">
    <h1 class="uk-text-center">Sortie</h1>

    <div class="glass-panel uk-grid-divider" uk-grid>
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell"><h3>ID</h3></div>
                    <div class="divTableCell"><h3>Nom </h3></div>
                    <div class="divTableCell"><h3>Date et heure </h3></div>
                    <div class="divTableCell"><h3>Duree </h3></div>
                    <div class="divTableCell"><h3>Date limite d'inscription </h3></div>
                    <div class="divTableCell"><h3>Nombre de participants maximum</h3></div>
                    <div class="divTableCell"><h3>Informations</h3></div>
                    <div class="divTableCell"><h3>Participants</h3></div>
                </div>

                <div class="divTableRow">
                    <div class="divTableCell">{{ sortie.id }}</div>
                    <div class="divTableCell">{{ sortie.nom }}</div>
                    <div class="divTableCell">{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d') : '' }}</div>
                    <div class="divTableCell">{{ sortie.duree }}</div>
                    <div class="divTableCell">{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</div>
                    <div class="divTableCell">{{ sortie.nbInscriptionsMax }}</div>
                    <div class="divTableCell">{{ sortie.infosSortie }}</div>
                    <div class="divTableCell">
                        {% for parti in sortie.participantList %}
                        {{ parti.prenom }} {{ parti.nom }}
                        {% endfor %} </div>
                    <div class="divTableCell">
                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">show</a>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <a href="{{ path('app_sortie_index') }}">back to list</a>

    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a><br>

    <a href="{{ path('app_sortie_ajout', {'id': sortie.id}) }}">s'inscrire à la sortie</a>
    {% if app.user in sortie.participantList and not app.user == sortie.organisateur %}
        <br><a href="{{ path('app_sortie_suppr', {'id': sortie.id}) }}">se désinscrire de la sortie</a>
    {% endif %}

    {{ include('sortie/_delete_form.html.twig') }}
</div>
{% endblock %}
